
.newArrivals-section .product-info:hover .product-border-bottom:after{
    content: " ";
    position: absolute;
    width: 80%;
    height: 1px;
    background: rgba(0, 0, 0, 0.10);
    bottom: 0;
    left: 0;
    transform: translateX(22px);
}
.newArrivals-section .product-wrapper{
    border: 1px solid #fff;
    margin: 15px 10px 15px 1px !important;
}
.newArrivals-section .product-wrapper:hover{
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.05);
    z-index: 10;
    border: 1px solid rgba(0, 0, 0, 0.1);
}