.mainMenu-area{
    background: #ffffff;
    border-top: 1px solid rgba(0, 0, 0, 0.07);
    height: 40px;
}
.mainMenu-border{
    border-bottom: 1px solid rgba(0, 0, 0, 0.07) !important;
}
.mainMenu-area .categories-title{
    background-color: #4CAF50;
    cursor: pointer;
}
.mainMenu-area .categories-title h2{
    font-size: 15px;
    font-weight: 500;
    padding: 10px 15px;
    cursor: pointer;
    display: block;
    font-weight: 600;
}
.mainMenu-area .categories-title .icon-1{
    margin-top: -2px;
}
.mainMenu-area .categories-title .icon-2{
    margin-top: 2px;
}
.main-nav .full-container{
    height: auto;
}
.main-nav{
    height: 40px;
    position: relative;
}
.main-nav ul li a{
    color:#333;
    line-height: 36px;
    cursor: pointer;
    padding: 0px 20px 0px 20px;
    font-size: 15px;
}
.main-nav ul li:last-child a{
    font-weight: 600;
    padding: 0px 0px 0px 20px;
}


/* Categories  */
.categories-menu{
    position: relative;
}
.categories-menu-inner{
    position: absolute;
    width: 100%;
    top: 100%;
    z-index: 9;
    margin-top: -8px;
    padding-top: 0px;
    background-color: #fff;
}
.categories-menu-inner > ul{
    border: 1px solid rgba(0, 0, 0, 0.08)!important
}
.categories-menu-inner > ul > li{
    padding: 0px 10px;
    font-size: 14px;
    font-weight: 600;
    color: #333;
    line-height: 40px;
    transition: all 0.3s linear;
}
.categories-menu-inner > ul > li:hover{
    padding-left: 20px;
}
.categories-menu-inner .link-area{
    cursor: pointer;
    width: 100%;
}
.categories-menu-inner .category-item:hover #fruits,
.categories-menu-inner .category-item:hover #mango,
.categories-menu-inner .category-item:hover #papaya,
.categories-menu-inner .category-item:hover #guava{
    display: block !important;
}
.categories-menu-inner .category-icon{
    font-size: 18px;
    margin-right: 10px;
    color: #8d8c8c;
}
.categories-menu-inner > ul > li > ul.category-mega-menu{
    position: absolute;
    top: 0;
    width: 200px;
    z-index: 9;
    background-color: #fff;
    box-shadow: 5px 5px 20px rgb(0 0 0 / 15%);
    left: 110%;
    opacity: 0;
    visibility: hidden;
    padding: 10px 15px 0px;
    border-top: 1px solid #4CAF50;
    transition: 0.3s;
}
.categories-menu-inner ul li:hover ul.category-mega-menu.cActive{
    opacity: 1;
    visibility: visible;
    left: 100%;
}
.categories-menu-inner > ul > li > ul.category-mega-menu > li > a{
    color: #444;
    line-height: 30px;
    display: block;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 6px;
    transition: all 0.3s ease-in-out;
}
.categories-menu-inner > ul > li > ul.category-mega-menu > li > a:hover{
    color: #4CAF50;
}

/* Responsiveness */
@media only screen and (min-width: 992px) {
    .wrap-nav-list{
        position: relative;
        text-align: right;
        margin-top: -7px;
        z-index: 1;
    }
    .nav-list{
        height: 40px;
        display: inline-block;
    }
    .nav-list li{
        height: 40px;
        display: block;
        float: left;
        position: relative;
        top: -1px!important;
    }
    .main-nav .nav-header{
        display: none;
    }
}
@media only screen and (max-width: 991px) {
    .main-nav-toggle{
        font-size: 20px;
        position: absolute;
        top: 2px;
        right: 0;
    }
    .main-nav .nav-header{
        position: relative;
        width: 100%;
        z-index: 2;
    }
    .nav-list li{
        border-bottom: solid 1px#efefef;
    }
    .main-nav .wrap-nav-list{
        width: 100%;
        height: 164px;
        overflow-y: auto;
        top: 100%;
        left: 0;
        position: absolute;
        border-bottom: solid 1px#dfdfdf;
        border-top: solid 1px#dfdfdf;
        background: #fff;
        box-shadow: 0px 5px 20px rgb(0 0 0 / 10%);
        z-index: 99;
        margin-top: -1px;
        opacity: 1;
        display: none;
    }
    .categories-menu-inner{
        display: none;
    }
    .categories-menu:hover #category-active{
        display: block !important;
    }
}
@media only screen and (max-width: 767px){
    .mainMenu-area-inner{
        position: relative;
    }
    .categoryMenu-wrapper {
        position: absolute;
        top: 0px;
        left: 0;
        z-index: 9;
        width: 50%;
    }
    .mainMenu-wrapper{
        position: absolute;
        top: 0px;
        right: 0;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .main-nav .wrap-nav-list{
        margin-top: -5px;
    }
}