::-webkit-input-placeholder { /* Edge */
    color: rgb(167, 167, 167) !important;
    font-size: 14px;
}
:-ms-input-placeholder { /* Internet Explorer */
    color: rgb(167, 167, 167) !important;
    font-size: 14px;
} 
::placeholder {
    color: rgb(167, 167, 167) !important;
    font-weight: 400 !important;
    font-size: 14px;
}
.main-header .header-icons .count-badge,
.main-header .search-box .search-btn,
.green-btn{
    background-color: #4CAF50 !important;
}


/* Top Header */
.top-header{
    /* background-color: #eee !important; */
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}
.remove-pad{
    padding: 0px !important;
}
.top-header .content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 0px;
}
.top-header .content ul li{
    position: relative;
    line-height: 28px;
    font-size: 13px;
    padding: 0px 15px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    display: flex;
    align-items: center;
}
.top-header .content ul li::before{
    content: "";
    height: 15px;
    width: 1px;
    background-color: #d1cece;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.top-header .content ul li:last-child::before{
    width: 0px;
}
.top-header .content ul li a{
    color: #333e48;
}
.top-header .content ul li a:hover{
    color: #419744;
}
.top-header .content .customer-or{
    color: rgb(51 62 72 / 60%);
}
.top-header .content ul li svg{
    font-size: 1.15rem;
    color: #4CAF50;
}

/* Main Header */
.main-header{
    margin: .8rem 0;
}
.main-header .header-logo{
    display: flex;
    align-items: center;
}
.main-header .header-logo img{
    max-width: 45px;
    object-fit: contain;
    height: 45px;
}
.main-header .logo-text{
    font-size: 30px;
    color: #006c32;
    font-weight: 600;
}
.main-header .search-box svg{
    font-size: 1.3rem;
    display: flex;
    align-items: center
}
.main-header .search-box input{
    border: 2px solid #4CAF50;
    border-radius: 25px;
    color: #000;
    font-size: 14px;
}
.main-header .search-box button{
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
}
.main-header .search-box .search-btn:hover{
    background-color: #3c863d !important;
}
.main-header .search-box input:focus,
.main-header .search-box button:focus,
.main-header .actions button:focus{
    box-shadow: none;
}
.main-header .search-box input:focus{
    border: 2px solid #4CAF50;
    box-shadow: none;
}
.main-header .header-icons ul li {
    margin-right: 40px;
    margin-top: 16px;
}
.main-header .header-icons ul li:last-child{
    margin-right: 12px;
}
.main-header .header-icons ul li svg{
    font-size: 25px;
    color: #5d5d5d;
    line-height: unset!important;
}
.main-header .header-icons .count-badge{
    height: 20px;
    width: 20px;
    position: absolute;
    border-radius: 50%;
    text-align: center;
    top: -6px;
    right: -10px;
}

.main-header .header-icons .item-count:hover .count-badge{
    animation: badgeAnimate 0.7s alternate ease infinite;
}
@keyframes badgeAnimate {
    from {
        transform: translateY(-1px);
    }
    to {
        transform: translateY(6px);
    }
}
.main-header .header-icons .item-count{
    cursor: pointer;
}
.main-header .header-icons .counter-num{
    margin-left: -1px;
}
.main-header .helpful-links{
    text-align: right;
    position: relative;
}
.main-header .helpful-links .my-dropdown .my-dropdown-menu{
    position: absolute;
    width: 335px;
    right: 0%;
    background-color: #fff;
    box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
    z-index: 9999;
    border: 0px;
    padding: 15px 25px 10px 15px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: 2px solid #4CAF50;
    /* display: none; */
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    margin-top: 12px;
}
.main-header .cart-items{
    max-height: 400px;
    overflow-y: auto;
}
.main-header .cart-product{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #dddddd;
    text-align: start;
    padding-top: 15px;
    margin-left: 15px;
}
.main-header .cart-product:last-child{
    border-bottom: none;
}
.main-header .cart-product img{
    max-width: 100px;
}
.main-header .cart-product-image{
    border: 1px solid #dddddd;
}
.main-header .cart-product-details p{
    margin: 0px;
    line-height: 1.6;
}
.main-header .product-title{
    color: #143250;
    font-weight: 600;
}
.main-header .cart-remove{
    position: absolute;
    top: -12px;
    left: -10px;    
    cursor: pointer;
    box-shadow: 0px 3px 8px rgb(0 0 0 / 25%);
    z-index: 2;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-header .cart-remove svg{
    font-size:11px !important;
}
.main-header .subtotals{
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    margin-left: 15px;
    padding: 14px 0px;
    font-size: 20px;
}
.main-header .subtotals .amount {
    font-weight: 700;
    color: #143250;
}
.main-header .actions{
    margin-left: 15px;
    padding: 15px 0px 11px;
}
.main-header .actions button{
    font-size: 15px;
}
.green-btn:hover{
    background-color: #3c863d !important;
}
.green-outline-btn{
    background-color:#e6e6e6 !important;
    border: 0  !important;
    color: #4c4b4b !important;
    transition:  all 0.3s ease-in-out;
}
.green-outline-btn:hover{
    background-color: #4CAF50 !important;
    color: #fff !important;
}

/* Media Query styles */
@media screen and (min-width: 992px) {
    .helpful-links .helpful-links-inner .my-dropdown:hover #product-items{
        opacity: 1;
        visibility: visible;
        margin-top: 4px;
    }
    .main-header .header-icons .item-count{
        margin-right: 10px;
    }
}
@media screen and (max-width: 991px) {
    .top-header .hide{
        display: none !important;
    }
    .my-dropdown-menu{
        display: none;
    }
}
@media screen and (min-width: 768px) {
    .main-header .search-box input{
        padding: 8px 30px;
    }
}
@media screen and (max-width: 767px) {
    .main-header .search-box input{
        padding: 6px 20px;
    }
}
@media screen and (max-width: 575px) {
    .main-header{
        margin: .8rem 0;
    }
    .main-header .header-icons ul li{
        margin-right: 22px;
        margin-top: 10px;
    }
    .main-header .header-icons ul li svg{
        font-size: 20px;
    }
    .main-header .header-logo img{
        height: 30px;
        width: 30px;  
    }
    .main-header .logo-text{
        font-size: 22px
    }    
}