.categorize-products-menu{
    margin: 0 auto 6px;
}
.categorize-products-menu .nav-tabs{
    border-bottom: 1px solid #dddddd;
    text-align: center;
    margin: 0 auto 12px;
    display: block;
}
.categorize-products-menu ul li{
    display: inline-block;
    border: none;
    padding: 0 13px;
    position: relative;
    margin-bottom: -1px;
}
.categorize-products-menu ul li a{
    color: #333;
    border: none;
    margin: 0 auto;
    display: block;
    padding:0 0 7px;
    cursor: pointer;
    font-size: 18px;
    position: relative;
}
.categorize-products-menu .nav-tabs .active,
.categorize-products-menu ul li a:hover{
    color: #444444;
}
.categorize-products-menu ul li a:hover{
    border: none;
}
.nav-tabs li a::before,
.nav-tabs li a::after{
    content: "";
    position: absolute;
    opacity: 0;
    left: 50%;
    transition: all .3s ease 0s;
}
.nav-tabs li a::before{
    width: 0%;
    height: 2px;
    background-color: #4CAF50;
    z-index: 1;
    right: 50%;
    bottom: 0;
}
.nav-tabs li a::after{
    height: 6px;
    width: 10px;
    bottom: -4px;
    transform: translate(-50%);
    border-radius: 0 0 10px 10px;
    background-color: #4CAF50;
}
.nav-tabs li a:hover::before,
.nav-tabs li a.active::before{
    opacity: 1;
    left: 0;
    right: 0;
    width: 100%;
}
.nav-tabs li a:hover::after,
.nav-tabs li a.active::after{
    opacity: 1;
    z-index: 1;
}
.products-tabs-content .product-head{
    position: relative;
    margin-bottom: 9px;
}
.products-tabs-content .ctg-special-product .product-wrapper{
    border: 2px solid #4CAF50;
    padding: 20px 15px ;
    margin: 0 0 15px;
    overflow: hidden;
    border-radius: 20px 20px 20px 20px;
}
.product-wrapper{
    position: relative;
    margin: 0;
    padding: 10px;
    background: #ffffff;
    transition: all .35s ease 0s;
}
.product-wrapper .product-image{
    position: relative;
}
.categorize-products .tabs-content .product-wrapper .special-offer-text{
    position: absolute;
    left: 0;
    top: 5%;
    font-size: 22px;
    color: #333e48;
    z-index: 9;
}
.categorize-products .offer-product-label{
    position: absolute;
    top: 1px;
    right: 0;
    left: auto;
    z-index: 1;
    height: 75px;
    width: 75px;
    background-color: #4CAF50;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    line-height: 1.2;
}
.offer-product-label .text{
    font-size: 12px;
}
.offer-product-label .percent{
    font-size: 20px;
}
.ctg-special-product .product-wrapper .image-lazySize{
    position: relative;
    padding-top: 88%;
}
.ctg-special-product .product-wrapper .image-lazySize img{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.ctg-special-product .progress .progress-bar{
    background-color: #4CAF50 !important;
}
.ctg-special-product .product-content h5{
    font-size: 14px;
    font-weight: 700;
    color: #1d4266;
}
.ctg-special-product .product-content .product-price{
    line-height: 1.1;
}
.ctg-special-product .product-price .price-sale{
    font-size: 30px;
    color: #ee0000;
    margin-inline-end: 8px;
    white-space: nowrap;
}
.ctg-special-product .product-price .price-compare{
    color: #848484;
    font-size: 18px;
    white-space: nowrap;
    text-decoration: line-through;
}
.ctg-special-product .product-content .deal-stock{
    width: 100%;
    overflow: hidden;
    padding: 14px 0px 10px;
    font-size: 14px;
}
.ctg-special-product .product-content .progress{
    height: 20px !important;
}
.ctg-special-product .product-content .progress,
.ctg-special-product .product-content .progress-bar{
    border-radius: 10px;
}
.ctg-special-product .wrapper-counter .offer-text{
    font-size: 15px;
    color: #383838;
    padding: 15px 0 0;
    display: block;
}
.ctg-special-product .wrapper-counter .countdown{
    margin: 15px auto 0;
}
.ctg-special-product .countdown .countdown-number{
    height: 40px;
    width: 50px;
    background-color: #e6e6e6;
    border-radius: 5px;
    font-size: 28px;
    color: #383838;
    display: block;
    padding: 0 6px;
}
.ctg-special-product .countdown .countdown-period{
    font-size: 12px;
    color: #333;
    text-transform: uppercase;
}
.countdown .countdown-section{
    position: relative;
    padding: 0px 7px;
    display: inline-block;
    
}
.countdown .countdown-section:last-child::after{
    display: none;
}
.countdown .countdown-section::after{
    content: ":";
    position: absolute;
    font-size: 700;
    font-weight: 700;
    font-size: 22px;
    color: #333;
    line-height: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    right: -4px;
}
.ctg-tabs-list .product-wrapper .product-img{
    position: relative;
    overflow: hidden;
    text-align: center;
}
.ctg-tabs-list .item-info{
    text-align: center;
}
.ctg-tabs-list .product-wrapper .item-info .starts{
    color: rgb(170, 169, 169);
    font-size: 12px;
}
.ctg-tabs-list .item-info .price{
    font-size: 20px;
    color: #143250;
}
.ctg-tabs-list .item-info .item-name{
    font-size: 16px;
    color: #1d4266;
}
.ctg-tabs-list .product-img-container{
    position: relative;
}
.product-info .product-img-container  .product-action{
    position: absolute;
    width: 100%;
    bottom: 0;
    margin-bottom: -20px;
    overflow: hidden;
    padding-bottom: 5px;
    z-index: 5;
}
.product-info .product-img-container .action-cart{
    height: 45px;
    width: 45px;
    border: 1px solid #ebebeb;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 18%) !important;
    opacity: 0;
    visibility: hidden;
    color: #222222;
    font-weight: 600;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0 8px;
    background-color: #fff;
    background-size: 100% 0px;
    background-repeat: no-repeat;
    background-position: left 0;
    transition: all 0.3s ease;
}
.product-img-container .product-action .action-cart.toCart{
    background-color: #4CAF50;
    border-color: #4CAF50;
    color: #fff;
    background-size: 100% 100%;
}
.product-img-container .product-action .action-cart.toCart:hover{
    background-image: linear-gradient(to top, #4CAF50 0%, #4CAF50 100%);
    color: #000;
    background-size: 100% 0%;
    background-color: #fff;
    border-color: #ebebeb;
}
.product-img-container .product-action .quickView:hover,
.product-img-container .product-action .toWish:hover{
    background-image: linear-gradient(to right, #4CAF50 0%, #4CAF50 100%);
    color: #fff;
    border-color: #4CAF50;
    background-size: 100% 100%;
}
.product-info:hover .product-img-container .action-cart{
    opacity: 1;
    visibility: visible;
}
.product-info:hover .product-img-container .quickView{
    animation: fadeInUp .6s ease-in;
}
.product-info:hover .product-img-container .toCart{
    animation: fadeInUp .3s ease-in;
}
.product-info:hover .product-img-container .toWish{
    animation: fadeInUp .4s ease-in;
}

 @keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
    }
 }

@media only screen and (min-width: 768px){
    .categorize-products-menu .nav-tabs{
        margin-inline-start: calc(50% + 15px) !important;
    }
    .products-tabs-content .ctg-special-product{
        width: 45%;
        float: left;
    }
    .products-tabs-content .ctg-special-product .product-wrapper{
        padding: 20px 20px 25px;
        margin: -38px 0 0;
    }
    .categorize-products .ctg-tabs-list{
        width: 55%;
        padding-inline-start: 18px;
        float: right;
    }
}
@media only screen and (min-width: 992px){
    .categorize-products-menu .nav-tabs{
        margin-inline-start: calc(41.66667% + 15px) !important;
    }
    .products-tabs-content .ctg-special-product{
        width: 41.6666666667%;
    }
    .categorize-products .ctg-tabs-list{
        width: 58.3333333333%;
    }
}
@media only screen and (min-width: 1200px){
    .categorize-products-menu .nav-tabs{
        margin-inline-start: calc(33.33333% + 15px) !important;
    }
    .products-tabs-content .ctg-special-product{
        width: 33.33%;
    }
    .categorize-products .ctg-tabs-list{
        width: 66.66666667%;
    }
}