.header-banner .header-banner-slider img{
    width: 100%;
    height: 423px;
    /* object-fit: cover; */
}
.header-banner-slider .slick-next,
.header-banner-slider .slick-prev{
    display: none !important;
}
.header-banner .slick-dots{
    bottom: 25px;
}
.header-banner .header-banner-slider{
    position: relative;
}
.header-banner .header-banner-slider .slider-progress{
    width: 0%;
    height: 6px;
    background-color: rgba(0, 0, 0, 0.15);
    bottom: 6px;
    position: absolute;
    z-index: 2;
    left: 0;
}
.header-banner .header-banner-slider .slick-current .a1{
    position: relative;
    animation: slideMove 6s;
}
@keyframes  slideMove {
    from {width: 0px;}
    to {width: 100%;}
}
.header-banner .slick-slide.slick-active .header-banner-description .slideInUp{
    animation-name: slideInUp; 
}
.header-banner .slick-slide.slick-active .header-banner-description .slideInDown{
    animation-name: slideInDown;
}
.header-banner .slick-slide.slick-active .header-banner-description .slideInRight{
    animation-name: slideInRight;
}
.header-banner .slick-slide.slick-active .header-banner-description .slideInLeft{
    animation-name: slideInLeft;
}
.header-banner .slick-slide div{
    outline: none;
}
.header-banner  .header-banner-slider .slick-current .slider-progress{
    width: 100%;
}
.header-banner .slick-prev:before, .slick-next:before{
    display: none;
}
.header-banner .slick-dots li button{
    height: 6px !important;
} 
.header-banner .slick-dots li button:before{
    font-size: 0px !important;
    height: 6px;
}
.header-banner .slick-dots li{
    width: 25px;
    height: 6px;
    background-color: #fff;
    transform: skewX(-30deg);
    box-shadow: 0px 0px 4px rgb(0 0 0 / 10%);
    transition: 0.3s ease-in;
}
.header-banner .slick-dots .slick-active{
    width: 50px;
}
.header-banner .header-banner-description{
    position: absolute;
    top: 98px;
}
.header-banner .banner-margin{
    margin: 0px 30px;
}
.header-banner .banner3-margin{
    margin-left: 26.5rem;
    text-align: end;
}
.header-banner .header-banner-description h4{
    font-size: 24px;
}
.header-banner .header-banner-description h2{
    font-size: 60px;
}
.header-banner .header-banner-description p{
    font-size: 16px;
    font-weight: 600;
}
.header-banner .hShop-btn,
.header-banner .hShop-btn svg{
    font-size: 14px;
    font-weight: 600;
}
.header-banner .header-banner-description .hShop-btn{
    padding: 8px 25px;
    background-color:#4CAF50;
    border: 1px solid #4CAF50 !important;
    color: #fff;
    transition: 0.3s ease-in-out;
    box-shadow: 0px 5px 14px rgb(0 0 0 / 15%);
    cursor: pointer !important;
}
.header-banner .header-banner-description .hShop-btn:hover{
    background-color:#fff !important;
    border: 1px solid #4CAF50 !important;
    color: #4CAF50;
}
.header-banner .header-banner-description .hShop-btn:focus{
    background-color:#fff !important;
    color: #4CAF50;
}

.header-banner .slide:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%;
    background: linear-gradient(transparent, black);
}


/* Media Query styles */
@media only screen and (min-width: 992px) and (max-width: 1199px){
    .header-banner .banner3-margin{
        margin-left: 14.5rem !important;
    }
}
@media only screen and (max-width: 991px){
    .header-banner .header-banner-slider img{
        min-height: 220px;
        object-fit: cover;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px){
    .header-banner-description h2{
        font-size: 42px !important;
    }
    .header-banner .banner3-margin{
        margin-left: 16.5rem !important;
    }
}
@media only screen and (max-width: 767px) {
    .header-banner-description h2{
        font-size: 32px !important;
    }
    .header-banner-description h4{
        font-size: 15px !important;
    }
    .header-banner .header-banner-description{
        top: 40px;
    }
    .header-banner .banner3-margin{
        margin-left: 10rem;
        top: 40px;
    }
    .header-banner .hShop-btn, .header-banner .hShop-btn svg{
        font-size: 12px;
    }
    .header-banner .header-banner-description p{
        font-size: 13px;
    }
    .categories-menu-inner > ul > li > ul.category-mega-menu{
        left: 0% !important;
    }
    .header-banner .header-banner-slider img{
        max-height: 220px;
        object-fit: cover;
    }
}
@media only screen and (max-width: 500px) {
    .header-banner .banner3-margin{
        margin-left: 7.5rem !important;
    }
    .header-banner-description h2{
        font-size: 24px !important;
    }
    .header-banner .header-banner-description p{
        font-size: 11px;
    }
    .header-banner .slick-dots{
        display: none !important;
    }
    .header-banner .header-banner-description .hShop-btn{
        padding: 6px 14px;
        font-size:10px;
    }
    .header-banner .banner3-margin{
        margin-left: 3rem !important;
        top: 34px;
    }
}